a:link,a:active{
    background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:visited,a:hover{
    background-color: red;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 10px;padding: 10px;
}

td, tr
{
  border-style: solid;
  border-color: rgb(52, 55, 101);
}
div{
  width: 300px;
  margin: auto;
  border: 2px solid orangered;
  /*float: left;*/
  display: inline-block;
  overflow: auto;
}
body{
margin: 2cm;
}
h1{
  text-align: center;
}

